{% extends "base.html" %}
{% load static %}
{% block title %}Menu Items - Restroworks{%endblock title %} 
{% block content %}
<form class="menu-item-grid">
    {% for item in menu_items %}
        <div class="product-card">
            <div class="product-image">
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            </div>
            <div class="product-title"><strong>{{ item.name }}</strong></div>
            <div class="product-desc"><small>{{ item.description }}</small></div>
            <div class="product-info">
            <div class="product-price"><strong>₹{{ item.price }}</strong></div>
            <label for="product-quantity"></label>
            <input type="number" class="input-field step" id="points" name="points" value="0" min="0" />
            </div>
        </div>
    {% endfor %}
{% endblock content %}
