<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Restroworks - Add Customer</title>
  <link rel="stylesheet" href="/static/styles.css">

</head>

<body>

  <body>
    <h1>Restroworks</h1>
    <div class="container">
      <div class="cta-form">
        <h2>User Registration</h2>
      </div>
      <form method="post" action="/management/add/customer" class="form">
        {% csrf_token %}
        {{ form }}
        <input type="text" placeholder="First Name" class="form__input" id="first_name" />
        <label for="first_name" class="form__label">First Name</label>

        <input type="text" placeholder="Last Name" class="form__input" id="last_name" />
        <label for="last_name" class="form__label">Last Name</label>

        <input type="number" placeholder="Phone Number" class="form__input" id="phone_number" />
        <label for="phone_number" class="form__label">Phone Number</label>

        <input type="email" placeholder="Email" class="form__input" id="email" />
        <label for="email" class="form__label">Email</label>

        <input type="text" placeholder="Address" class="form__input" id="address" />
        <label for="address" class="form__label">Address</label>

        <input type="submit" value="     Register      ">

      </form>
    </div>
  </body>
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
  <script src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js'></script>
</body>

</html>