{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Restroworks{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet" />
</head>

<body>
    <header class="header">
        <div class="header-content container">
            <h3>Restroworks</h3>
            <img src="assets/restaurant.svg" />
            <div class="header-content-spacer"></div>
        </div>
    </header>
    <div class="spacer"></div>

    <main class="main-content container">
        {% include "components/table.html"}
    </main>
    <div class="spacer"></div>
</body>

</html>