<div class="instructions">
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi illum
  illo, autem esse nam unde nihil consectetur quod culpa eos explicabo
  porro accusantium dicta ullam reprehenderit enim ad iste? Sequi!
</div>
<form class="main-form" action="">
  <div class="input-box">
    <label class="input-label">Name</label>
    <input class="input-field" placeholder="Enter name" />
  </div>
  <div class="input-box">
    <label class="input-label">Name</label>
    <input class="input-field" placeholder="Enter name" />
  </div>
  <div class="input-box">
    <label class="input-label">Name</label>
    <input class="input-field" placeholder="Enter name" />
  </div>
</form>