<div class="table-holder container">
    <table class="query-table">
        <thead>
            <tr>
                <th class="s-no">S.No</th>
                <th class="qid">QID</th>
                <th class="ques">Question</th>
                <th class="topic">Topic</th>
                <th class="subtopic">Subtopic</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Q001</td>
                <td>What is the capital of France?</td>
                <td>Geography</td>
                <td>Europe</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Q002</td>
                <td>What is 2 + 2?</td>
                <td>Mathematics</td>
                <td>Arithmetic</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Q003</td>
                <td>Who wrote 'To Kill a Mockingbird'?</td>
                <td>Literature</td>
                <td>American Literature</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Q004</td>
                <td>What is the chemical symbol for water?</td>
                <td>Science</td>
                <td>Chemistry</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Q005</td>
                <td>Who was the first President of the United States?</td>
                <td>History</td>
                <td>American History</td>
            </tr>
        </tbody>
    </table>
</div>