<table class="nested-table hide" id="nested-table-{{ table_data.id }}">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
    {% for item in table_data.items %}
        <tr>
            <td>{{ item.menu_item }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.price }}</td>
            <td>{{ item.total_price }}</td>       
        </tr>
    {% endfor %}
    </tbody>
</table>