{% extends "base.html" %}
{% block content %}
<div class="table-holder">
    <table class="query-table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date</th>
                <th>Items</th>
                <th>Total</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="order-id">{{ table_data.id }}</td>
                <td class="order-date">{{ table_data.created_at }}</td>
                <td class="order-items">
                    <div class="item-overview">
                        {% for item in table_data.items %}
                            <small>{{ item.menu_item }} ({{ item.quantity }}){% if not forloop.last %},{% endif %}</small>
                        {% endfor %}
                    </div>
                </td>
                <td class="order-total">{{ table_data.total_price }}</td>
                <td class="order-status">{{ table_data.status }}</td>
                <td class="order-actions">
                    <a href="#" class="order-actions">View Details</a>
                    <a href="#" class="order-actions">Cancel Order</a>
                </td>                
            </tr>
        </tbody>
    </table>
</div>
{% endblock content %}