{% load static %}
<header class="header">
  <div class="header-content container">
    <div class="navbar-logo">
      {% comment %} <img src="{% static logo %}" alt="Restaurant Logo" /> {% endcomment %}
      <a href="/accounts/home/">
        <h3 class="navbar-title">{{ title }}</h3>
      </a>
    </div>
    <div class="navbar-links">
      <a href="/menu/view/all">Menu</a>
      <a href="#">Orders</a>
    </div>
    <div class="buttons">
      {% if not user.is_authenticated %}
      <a href="/accounts/login/">
        {% include "components/button.html" with button_type="submit" button_style="btn-primary" button_text="Login" button_colour="1" %}
      </a>
      {% elif  user.is_authenticated %}
        <a href="#">Profile</a>
        <a href="/accounts/logout">
          {% include "components/button.html" with button_type="submit" button_style="btn-primary" button_text="Logout" button_colour="1" %}
        </a>
      {% endif %}
    </div>
  </div>
</header>
<div class="spacer"></div>
